.row {
    width: 100%;
    float: left;
}
/* <-- 100/12 --> */
.col-1 {
    width: 8.333%;
    float: left;
}
/* <-- 100*2/12 --> */
.col-2 {
    width: 16.666%;
    float: left;
}
/* <-- 100/4 --> */
.col-3 {
    width: 25%;
    float: left;
}
/* <-- 100*4/12 --> */
.col-4 {
    width: 33.333%;
    float: left;
}
/* <-- 100*5/12 --> */
.col-5 {
    width: 41.66%;
    float: left;
}
/* <-- 100/2 --> */
.col-6 {
    width: 50%;
    float: left;
}
/* <-- 100*7/12 --> */
.col-7 {
    width: 58.333%;
    float: left;
}
/* <-- 100*8/12 --> */
.col-8 {
    width: 66.666%;
    float: left;
}
/* <-- 100*3/4 --> */
.col-9 {
    width: 75%;
    float: left;
}
/* <-- 100*10/12 --> */
.col-10 {
    width: 83.33%;
    float: left;
}
/* <-- 100*11/12 --> */
.col-11 {
    width: 91.66%;
    float: left;
}
/* <-- 100 --> */
.col-12 {
    width: 100%;
    float: left;
}

.padding {
    float: left;
    padding: 1.em;
}
.padding-left {
    float: left;
    padding: 1.em;
}

.page-content{
    align:center;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

*, *::before, *::after {
    box-sizing: inherit;
}

nav.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        align-items: center;
    }

    ul li {
        margin-right: 20px;

        &:last-child {
            margin-right: 0px;
        }
    }
     @media (min-width: 600px){
            justify-content: space-between;
        }

        > a {
                margin-bottom: 10px;

                @media (min-width: 600px){
                    margin-bottom: 0px;
                }
            }
}

.fullwidth {
    flex: 1 0 100%;
    justify-content: center;

    @media (min-width: 600px){
        flex: 0 1 auto;
    }
}

ul li {
    flex: 0 0 100px;
    margin-right: 10px;
    text-align: center;

    @media (min-width: 600px){
        flex: 0 0 auto;
        margin-right: 20px;
    }

    &:last-child {
        margin-right: 0px;
    }
}

.padding-page{
    padding: 1.5em
}

.breadcrumb-head{
    padding: 0.1em;
    background-color: #b1b1b1;
}

.footer {
    padding: 0.1em;
    background-color: #b1b1b1;
}