
.modal {
  position: fixed;
  z-index: 1;
  padding: 5%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal.hidden {
    display: none;
    z-index: -1
}

.modal.show {
    display: block;
    z-index: 1000
}

.modal-body {padding: 2px 16px;}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.shadow.hidden{
    z-index: -1
    opacity: 0;
}

.close {
  color: black;
  float: right;
  font-size: 2rem
}

.content-aria{
    background-color: #d4ecd7;
    width: 88rem;
    height: 20rem;
    max-width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    min-width: 100%;
}

.shadow.show{
    z-index: 100;
    opacity: .5;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #e2d7d7;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.btn-bar {
    background-color : #07ea38
        padding: 0.2em;
}