.breadcrumb {
  list-style-type: none;
  margin: 0.5em;
  padding: 0.5em;
}
.breadcrumb-item {;
  display: inline;
   float: left;
   padding: 0.5em;
}
.breadcrumb-link {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
