<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorate}">
    <head>
        <title ><th:block th:text="${pageRequest}">[pageRequest]</th:block></title>
    </head>
    <th:block layout:fragment="styles">
        <link rel="stylesheet" href="css/main.css"/>
    </th:block>
    <div layout:fragment="page_content" id="page_content">
        <h2>Home</h2>
        <br>
        <p>
                main page

        </p>
    </div>
    <th:block layout:fragment="scripts">
        <script type="text/javascript" src="js/main.js"  ></script>
    </th:block>
</html>