<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorate}">
    <head>
        <title ><th:block th:text="${pageRequest}">[pageRequest]</th:block></title>
    </head>
    <th:block layout:fragment="styles">
        <link rel="stylesheet" href="css/modal.css"/>
    </th:block>
    <div layout:fragment="page_content">
        <div class="page-content" id="pageContent">
            <h3>Page Popup</h3>
            <div class="row ">
                <div  class="col-4" ></div>
                <div  class="col-4">
                    <button id="popUpOpen">Open Modal</button>
                </div>
                <div  class="col-4"></div>
            </div>
        </div>
        <div id="shadow"></div>
        <div id="modalPopup" class="modal hidden">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span id="btnClose" class="close">&times;</span>
                    <h2>PopUp</h2>
                </div>
                <div class="modal-body">
                    <div class="row btn-bar">
                        <div style="align:right">
                            <input type="number" id="numberOfWords" name="numberOfWords" value="100" placeholder="Number of Words">
                            <button id="clear"  >Clear</button>
                            <button id="generateV"  onclick="generateContent(false)">One P Elements</button>
                            <button id="generateH" onclick="generateContent(true)">Add Div Elements </button>
                        </div>
                    </div>
                    <div id="contentAria">

                    </div>
                </div>
                <div class="modal-footer">
                    <h3>Footer</h3>
                </div>
            </div>

        </div>
    </div>
    <th:block layout:fragment="scripts">
        <script type="text/javascript" src="js/modal.js"  ></script>
    </th:block>

</html>