<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorate}">
    <head>
        <title ><th:block th:text="${pageRequest}">[pageRequest]</th:block></title>
    </head>
    <div layout:fragment="page_content" id="page_content">
        <h2>page 1</h2>
        <br>
        <p>
                 Page 1
        </p>
    </div>
</html>